:root {
  --dark-green: #344e41;
  --med-dark-green: #3a5a40;
  --med-green: #588157;
  --light-green: #a3b18a;
  --gray: #dad7cd;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e6e8ed;
  color: #666666;
  font-family: "Montserrat", sans-serif;
}

.material-icons-outlined {
  vertical-align: middle;
  line-height: 1px;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-areas: "sidebar main";
  height: 100vh;
}

/* ------Sidebar------ */
#landing-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: var(--dark-green);
  color: var(--gray);
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.sidebar-title {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 20px;
}

.sidebar-title>span {
  display: none;
}

.sidebar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-brand a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-image {
  width: 40%;
  height: auto;
}

.input-container {
  display: flex;
  width: 75%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 25px;
  margin-top: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.input-field {
  margin-bottom: 20px;
  width: 75%;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  color: #666666;
}

.form-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #c1c1c4;
  font-size: 16px;
}

.form-container {
  display: flex;
  width: 75%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.submit-button-container {
  text-align: center;
  margin-top: 20px;
}

.submit-button {
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: var(--med-green);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: var(--light-green);
}

.forgot-password-link {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  color: var(--med-green);
  text-decoration: none;
  font-size: 14px;
}

.forgot-password-link:hover {
  text-decoration: underline;
}

.signup-prompt {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
}

.signup-link {
  color: var(--light-green);
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}

/* ------Main------ */

.main-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ------Modal------ */
.login-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-content {
  display: flex;
  width: 60%;
  max-width: 500px;
  min-height: 300px;
  height: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 25px;
  margin-top: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
  position: relative;
}

.modal-title {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px 20px;
  margin-bottom: 30px;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0px;
  padding: 10px;
  cursor: pointer;
}

/* Media Queries */

/* Medium <= 992px */
@media screen and (max-width: 992px) {
  .main-container {
    display: none;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }

  .modal-content {
    width: 70%;
    /* Increase width for medium devices */
  }

  #landing-sidebar {
    width: 100%;
  }

  .modal-content {
    width: 90%;
    height: 70%;
    /* Increase width for extra-small devices */
    padding: 10px;
  }

  .modal-title h1 {
    font-size: 18px;
    /* Further adjust font size for extra-small screens */
  }
}

/* Small <= 768px */
@media screen and (max-width: 768px) {
  .modal-content {
    width: 90%;
    height: 70%;
    padding: 10px;
  }

  .modal-title h1 {
    font-size: 18px;
  }
}

/* Extra Small <= 576px */
@media screen and (max-width: 576px) {
  .modal-content {
    width: 90%;
    height: 70%;
    padding: 10px;
  }

  .modal-title h1 {
    font-size: 18px;
  }
}